{% extends 'base.html.twig' %}

{% block body %}
<section class="container">
  <form id="form-transfer" method="POST" action="/sendData" enctype="multipart/form-data" onsubmit="return false">
    <div class="logo-form">
      <img src="\img\logo.png" alt="">
    </div>
    <div id="translate-page">
    <a href="#"><img src="\img\united-kingdom-flag-xs.png" alt="translate in english"></a>
    <a href="#"><img src="\img\france-flag-icon-128.png" alt="translate in french"></a>
    <a href="#"><img src="\img\italy-flag-xs.png" alt="translate in italian"></a>
    <a href="#"><img src="\img\spain-flag-xs.png" alt="translate in spain"></a>
    </div>
    <h2>Ajouter un fichier à Transférer</h2>

    <p class="champ">
      Nom du destinataire :<br>
      <input id="input-name-from" type="text" name="name_from" placeholder=" Nom" required><br>
    </p>
    <p class="champ">
      Adresse du destinataire :<br>
      <input id="input-email-from" type="email" name="mail_from" placeholder=" E-mail" required><br>
    </p>
    <p class="champ">
      Votre nom :<br>
      <input id="input-name-to" type="text" name="name_to" placeholder=" Nom" required><br>
    </p>
    <p class="champ">
      Votre adresse e-mail :<br>
      <input id="input-email-to" type="email" name="mail_to" placeholder=" E-mail" required><br>
    </p>

    <p style="font-weight: bold;color: #5a5a5a;">Téléverser un fichier:</p> <br>
    <div id="drop-zone" class="upload-zone-wait">Glisser/déposer</div>
    <div id="drop-show"></div>
    <input id="televerser" type="file" name="files[]" multiple>
    <input  id="submit" class="button-submit" type="submit" name="submit" value="Envoyer">
    <div id="message-transfer">
    </div>

    <a href="/conditionsUtilisation" id="linkCgu">Conditions d'utilisation</a>
  </form>
</section>
<div id="overlay-transfert">
  <div id="transfert-in-progress">
    <div id="leave-overlay"> <a href="#" onClick="leaveTransferProgress()"><i class="fas fa-times"></i></a>
    </div>
    <div id="transfert-wait">
      <h3>Transfert en cours...</h3>
      <img src="img/loader.svg" class="loader" style="fill-opacity: 0;">
    </div>
    <div id="transfert-success">
      <h3>Transfert réussi !</h3>
      <i class="far fa-check-circle"></i>
      <input id="lien-download" type="text" class="form-control input-monospace input-sm" data-autoselect="" value="">
      <a id="link-download" href="">Dowload ZIP</a>
    </div>
    <div id="transfert-error">
      <i class="fas fa-exclamation-triangle"></i>
      <h3>Erreur de transfert</h3>
      <i class="fas fa-exclamation-triangle"></i>
    </div>

  </div>
</div>

{% endblock %}
