{% extends 'base.html.twig' %}

{% block body %}
<section class="container">
  <form id="form-transfer" method="POST" action="/sendData" enctype="multipart/form-data" onsubmit="return false">
    <h2>Ajouter un fichier à Transférer</h2>

    <p class="champ">
      Nom du destinataire :<br>
      <input type="text" name="name_from" placeholder=" Nom" required><br>
    </p>
    <p class="champ">
      Adresse du destinataire :<br>
      <input type="email" name="mail_from" placeholder=" E-mail" required><br>
    </p>
    <p class="champ">
      Votre nom :<br>
      <input type="text" name="name_to" placeholder=" Nom" required><br>
    </p>
    <p class="champ">
      Votre adresse e-mail :<br>
      <input type="email" name="mail_to" placeholder=" E-mail" required><br>
    </p>

    <p style="font-weight: bold;color: #5a5a5a;">Téléverser un fichier:</p> <br>
    <div id="drop-zone" class="upload-zone-wait">Glisser/déposer</div>
    <div id="drop-show"></div>
    <input id="televerser" type="file" name="files[]" multiple>
    <input  id="submit" class="button-submit" type="submit" name="submit" value="Envoyer">
    <div id="message-transfer">
    </div>

    <a href="/conditionsUtilisation" id="linkCgu">Conditions d'utilisation</a>
  </form>
</section>
<div id="overlay-transfert">
  <div id="transfert-in-progress">
    <div class="leave-overlay"> <a href="#" onClick="leaveTransferProgress()"><i class="fas fa-times"></i></a> </div>
    <h3>Transfert en cours...</h3>
    <img src="img/loader.svg" class="loader" style="fill-opacity: 0;">
  </div>
</div>

{% endblock %}
