<p>Bonjour {{ nomDestinataire }},</p>

<p>{{ nomAuteur }} souhaite partager du contenu avec vous. Vous pouvez télécharger le(s) fichier(s) sur la plateforme gratuite de stockage EasyTransfer à l'adresse suivante :</p>

<p><a href="{{ absolute_url(link) }}">{{ absolute_url(link) }}</a></p>

<p>EasyTransfer vous permet d'envoyer des fichiers à vos amis, sans limite de poids. Les fichiers restent disponibles 48 heures après leur mise en
 ligne.</p>
